@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}
.org-color {
  color: rgb(255, 66, 64);
}
.container {
  padding: 3rem;
  max-width: 1170px;
  margin: 0 auto;
}
.btn-primary {
  width: 148px;
  height: 50px;
  border-radius: 8px;
  padding: 15px, 24px, 15px, 24px;
  background-color: rgb(255, 66, 64);
  border: none;
  color: white;
}

/* nav section start */

.nav-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav-bar h3 {
  font-size: 2.25rem;
  font-weight: 800px;
}
.nav-bar-li {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 1rem;
}
.nav-bar-li p {
  font-size: 1rem;
  font-weight: 700px;
}
.nav-bar-btn {
  margin: 20px 50px;
  text-align: right;
}
.fa-magnifying-glass {
  margin-right: 5px;
}
.nav-section-img {
  height: 550px;
  background-image: url(Images/1.png);
}

.nav-section-img-title {
  border-radius: 16px;
  background-color: rgb(19, 19, 24);
  padding: 2rem;
  width: 450px;
  height: 140px;
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 320px;
  margin-left: 620px;
}
.nav-section-img-title h4 {
  font-size: 24px;
  font-weight: 800px;
}
.nav-section-img-title p {
  font-size: 1rem;
  font-weight: 500px;
}

/* Professional Hockeys Club section start */

.Hockeys-Club-section {
  border: 2px solid red;
}
.Hockeys-Club-section-title,
.program-section-title {
  margin: 0 auto;
  text-align: center;
  padding: 5rem;
}
.Hockeys-Club-section-title h3,
.program-section-title h3 {
  font-size: 2rem;
  font-weight: 800px;
}
.Hockeys-Club-section-title p,
.program-section-title p {
  font-size: 1rem;
  font-weight: 500px;
}

/* program section start */
.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  margin: 1rem 0;
  gap: 1rem;
}
.picture-title h3,
.picture-title h3,
.row-2 h3 {
  font-size: 1.75rem;
  font-weight: 800px;
  color: white;
}
.picture-title p,
.picture-title p,
.row-2 p {
  font-size: 1rem;
  font-weight: 500px;
  color: white;
}
.row-1-pic-1 {
  background-image: url(Images/2.png);
  height: 338px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.row-1-pic-2 {
  background-image: url(Images/3.png);
  height: 338px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.picture-title,
.picture-title {
  position: absolute;
  width: 35%;
  margin-top: 80px;
  margin-left: 20px;
}
.row-2 {
  background-image: url(Images/4.png);
  height: 450px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.row-3-title {
  position: absolute;
  width: 60%;
  margin-top: 200px;
  margin-left: 40px;
  /* padding: 2rem; */
}
